<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="min-h-screen flex flex-col items-center justify-center px-4 py-4">
  <header>
    {{ partial "header.html" . }}
  </header>
  <main class="w-full my-auto max-w-screen-xl">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="w-full max-w-screen-xl py-10">
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>
