{{ define "main" }}

<div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-16 xl:gap-24 justify-items-center my-8 lg:my-0">
  <section class="flex flex-col justify-center lg:items-start lg:col-start-1 max-w-[65ch]">
    <div class="flex flex-row justify-start items-center gap-8 mb-5">
      {{ $logo := resources.Get "img/logo-primary.png" }}
      {{ $logo := $logo.Process "resize x256 png" }}
      <img src="{{ $logo.RelPermalink }}" alt="Logo {{ site.Title }}" class="h-25 w-auto">
      <hgroup class="flex-grow-1">
        <h1 class="text-primary text-5xl mb-3">{{ site.Title }}</h1>
        <p class="sub-title">{{ page.Params.preTitle }}</p>
      </hgroup>
    </div>

    <div class="lg:mb-10 mb-8 prose text-base-content">
      {{ .Content }}
    </div>

    <h2 class="text-primary text-4xl mb-3 ">{{ page.Params.newsletter.callToActionTitle }}</h2>

    <p class="pb-3 prose text-base-content">
      {{ page.Params.newsletter.callToAction | markdownify }}
    </p>

    <form class="w-full prose" method="POST" action="{{ site.Params.newsletterURL }}" target="_blank">
      <div class="join sm:join-horizontal join-vertical w-full mb-4">
        {{ $emailPlaceholderKey := "emailAddress" }}
        <input class="input input-bordered join-item flex-grow w-full w-72 md:max-w-72"
          placeholder="{{ T $emailPlaceholderKey }}" type="email" name="feld_email" id="feld_email" required />
        <label class="label sr-only" for="feld_email">{{ T "emailAddress" }}</label>

        <input hidden name="dmail_charset" value="UTF-8">
        <input hidden name="gruppe_82859" value="gruppe_82859">

        {{/* Spam protection recommended by Dialog-Mail */}}
        <input name="last_name" type="text" value="" aria-disabled="true" tabindex="-1"
          style="display: contents; width: 1px !important; max-width: 1px !important; height: 1px !important; max-height: 1px !important; line-height: 1px !important; padding: 0 !important; margin: 0 !important; background-color: transparent !important; border: 0 !important;" />

        <input type="hidden" id="dm4551" name="feld_4551" value="{{ upper page.Site.Language.Lang }}">

        {{ $subscribeKey := "subscribe" }}
        <input class="btn btn-primary join-item font-normal text-base px-12 uppercase" type="submit" submit
          value="{{ T $subscribeKey }}">
      </div>
    </form>

  </section>

  <section class="lg:col-start-2 lg:row-start-1 flex justify-center items-center">
    <div class="bg-base-200">
      <div class="bg-base-300 w-full px-4 pt-4 overflow-hidden">
        <a href="{{ page.Params.paper.url }}" target="_blank">
          {{ $img := resources.Get page.Params.paper.thumbnail }}
          {{ $img := $img.Process "resize 600x png" }}
          <img alt="{{ page.Params.paper.thumbnailAlt }}" src="{{ $img.RelPermalink }}" class="w-full shadow-lg grayscale">
        </a>
      </div>

      <div class="p-6 lg:p-12">
        <h2 class="text-primary text-4xl">
          <a href="{{ page.Params.paper.url }}" target="_blank" class="flex justify-between items-center">
            <span>{{ page.Params.paper.title }}</span>
            <span>{{ partial "icons/icon" (dict "vendor" "tabler/outline" "name" "download")}}</span>
          </a>
        </h2>
      </div>
    </div>
  </section>

</div>

{{ end }}
